{
  "branches": [
    "main"
  ],
  "repositoryUrl": "https://github.com/modochats/webcomponent",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/npm"
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "node scripts/update-version.js"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "CHANGELOG.md",
          "src/js/constants.js"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "cdn-dist/modo-widget.js",
            "label": "modo-widget.js"
          },
          {
            "path": "cdn-dist/modo-widget.min.js",
            "label": "modo-widget.min.js"
          },
          {
            "path": "cdn-dist/modo-web-component.js",
            "label": "modo-web-component.js (Legacy)"
          },
          {
            "path": "cdn-dist/modo-web-component.min.js",
            "label": "modo-web-component.min.js (Legacy)"
          }
        ]
      }
    ]
  ]
}
