{
  "branches": [
    "master"
  ],
  "repositoryUrl": "https://github.com/Abolfazl2049/husky-semantic-version-starter",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/npm"
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "node scripts/update-version.js"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "CHANGELOG.md",
          "src/js/constants.js"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ]
}
